/* CSS HEX */

/* --prussian-blue: #003049ff;
--maximum-red: #d62828ff;
--orange: #f77f00ff;
--maximum-yellow-red: #fcbf49ff;
--floral-white: #fbf9efff; */

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./shared/img/photo-1597076537061-a6b58163aa45.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    width: auto;
    height: 100%;
}

.main-wrapper {
    height: 100vh;
    min-height: 40rem;
    padding: 8rem, 2rem, 8rem, 2rem;
}

.jumbotron {
    margin: 0px;
}

.nav-section {
    height: 40px;
}

.navbar {
    background: linear-gradient(150deg, #003049ff, #fbf9efff);
    border-bottom: 0.16em solid rgb(255, 255, 255);
    background-position: bottom;
}

.navbar-brand {
    font-size: 2rem;
}

.bn3 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid white;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.5s;
    background-color: #fbf9efff;
}

.bn3:hover {
    color: #fbf9efff;
    background-color: #fcbf49ff;
    border: 0.16em solid #fcbf49ff;
}

.infoSection {
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 70vh;
    margin-top: 0.2rem;
    font-size: 2rem;
    font-weight: 200;
}

#about {
    background: linear-gradient(120deg, #003049ff, #fbf9efff);
}

#nutrition {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./shared/img/nutrition-pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

#training {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./shared/img/blue-equipment.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

#programBuilder {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./shared/img/gym-1-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.optionsPage {
    height: 100vh;
    display: grid;
    place-items: center;
    justify-items: stretch;
}

.optionsForm {
    height: 100vh;
    display: grid;
    place-items: center;
    justify-items: stretch;
}

.card-group>div.card {
    background-color: #fcbf49ff;
    filter: drop-shadow(5px 5px 1px #003049ff);
}

.workoutDisplay {
    background-color: #fcbf49ff;
    height: 100vh;
    display: grid;
    place-items: center;
}

.optionsCol {
    background-color: #fcbf49ff;
    height: 30rem;
    border-radius: 5%;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    filter: drop-shadow(10px 10px 1px #003049ff);
    transition: 0.3s;
}

ul.workoutCol {
    background-color: #003049ff;
    filter: drop-shadow(1px 1px 1px #003049ff);
    transition: 0.3s;
    color: white;
}

ul.workoutCol.list-group>h5 {
    color: rgb(255, 255, 255);
    width: 339px;
    max-width: 339px;
    height: 24px;
    max-height: 24px;
    margin-top: 3px;
    margin-left: 6px;
    text-align: left;
}

ul.workoutCol.list-group>li.list-group-item:hover {
    color: #fbf9efff;
    background-color: #fcbf49ff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight : 800;
}

.container>div:nth-of-type(3)>div.col {
    text-align: right;
}

.col>div.col>h3 {
    text-align : center;
    line-height : 30px;
    }

a.navbar-brand.text-light {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    font-weight: 800;
    text-decoration-line: none;
    font-style: normal;
    letter-spacing: 0px;
    padding-left: 20px;
}

.optionsCol:hover {
    transform: translate(-0.05em, -0.05em);
    filter: drop-shadow(10px 10px 5px #003049ff);
}

.optionsBtn {
    font-size: 1.5rem;
    border: 1px solid #fcbf49ff;
    font-size: 2rem;
    background-color: #003049ff !important;
    border-color: #f77f00ff;
}

.submitRow {
    display: grid;
    place-items: center;
    justify-items: stretch;
}

.NavigationBtnRight {
    font-size: 1.5rem;
    border: 1px solid #fcbf49ff;
    font-size: 2rem;
    background-color: #003049ff !important;
    border-color: #f77f00ff;
    display: block;
    align-content: flex-end;
}

.NavigationBtnLeft {
    font-size: 1.5rem;
    border: 1px solid #fcbf49ff;
    font-size: 2rem;
    background-color: #003049ff !important;
    border-color: #f77f00ff;
}

.optionsBtn:focus {
    font-size: 1.5rem;
    border: 1px solid #fcbf49ff;
    background-color: #f77f00ff !important;
    border-color: #fcbf49ff;
}

:target {
    background-color: #f77f00ff !important;
}

.optionsCard {
    width: 100%;
    border-color: #003049ff;
    border-radius: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.optionsHeader {
    display: grid;
    place-items: center;
}